body {
    background: white; 
}

header {
    width:100%;
}

h2 {

}

form{
    display:flex; 
}

li{
    list-style-type: none;
}
input{
    margin-left:10px;
}

.display-4 {
    color: white; 
    font-weight: bolder; 
}

.lead { 
    color: white; 
    font-weight: bolder; 
}

.btn-dark {
    justify-content: center; 
    margin: 10px; 
}

#button-display{
    padding-left:0px !important;
    width:100%;
}

.container { 
    background: white; 
    padding: 50px; 
}

#message{
    width:100%;
}
.card{
    margin-top:5%;
    text-align: center;
    border: none;
}

.card-title{
    margin-bottom: 30px;
}

.timer { 
    color: black; 
    float:right;
    text-align: right;
    align-content: right;
    padding:10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.highScore{
    color: #4B0082; 
    float:left;
    text-align: left;
    align-content: left;
    padding: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.question-display { 
    color:black;
    font-weight: bold; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 24px;
}

/*.answerButton{ 
    background: #4B0082;
    color: white; 
    border-radius: 5px; 
    width: auto; 
    margin: 10px; 
    padding:5px 10px 5px 10px;
}

#start{
    text-align: center;
    background: #4B0082;
    color: white; 
    border-radius: 5px;
    width: auto; 
    margin: 10px; 
    padding:5px 10px 5px 10px;
}*/

#resetScores, #goBack, #start, .answerButton{
    text-align: center;
    background: #4B0082;
    color: white; 
    border-radius: 5px;
    width: auto; 
    margin: 10px; 
    padding:5px 15px 5px 15px;
}

#quizContainer.container{
   
}
#submitInitials{
    display: inline; 
    margin-left:10px; 
    background:#4B0082; 
    color:black; 
    border-radius: 5px;
}
.answerButton:hover{
    opacity: 0.6
}
#hsTitle{
    font-weight: bold;
    padding-bottom: 30px;
}

#hsArray{
    padding: 0px;
}
#hsArray li{
    border:1px solid lightgrey;
    background:#ede1f7;
    margin-top: 10px;
    padding:2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color:black !important;
    
    width:100%;
}
    
#hsArray li:hover{
    opacity: 80%;
}

@media only screen and (max-width: 800px) {
    #button-display{
        width:75%;
    }
  }

  @media only screen and (max-width: 520px) {
    #button-display{
        width:100%;
    }
    .card-title{
        font-size: 36px;
    }
  }